includes:
    - 'vendor/symplify/phpstan-extensions/config/config.neon'

parameters:
    # to allow installing with various phsptan versions without reporting old errors here
    reportUnmatchedIgnoredErrors: false
    level: max

    paths:
        - src
        - tests

    autoload_files:
        - 'tests/bootstrap.php'

    ignoreErrors:
        # iterables
        - '#has no value type specified in iterable type Iterator#'

        # mixed
        - '#Method ObjectCalisthenics\\Helper\\ClassAnalyzer\:\:ensureIsClassLikeToken\(\) has parameter \$token with no value type specified in iterable type array#'
