includes:
    - 'vendor/symplify/phpstan-extensions/config/config.neon'

parameters:
    # to allow installing with various phsptan versions without reporting old errors here
    reportUnmatchedIgnoredErrors: false
    level: max

    paths:
        - src
        - tests

    autoload_files:
        - 'tests/bootstrap.php'

    ignoreErrors:
        # false float positive
        - '#Method ObjectCalisthenics\\Sniffs\\Metrics\\MaxNestingLevelSniff::subtractFunctionNestingLevel\(\) should return int but returns float\|int#'
        # iterables
        - '#has no value type specified in iterable type Iterator#'
