parameters:
    autoload_files:
        - %currentWorkingDirectory%/tests/bootstrap.php
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    excludes_analyse:
        - **/ObjectCalisthenics/Helper/Slevomat/**
