<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true" bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Object Calisthenics Coding Standard Test Suite">
            <file>./vendor/squizlabs/php_codesniffer/tests/AllTests.php</file>
        </testsuite>
    </testsuites>
</phpunit>
